<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <h1>Courses</h1>
    </head>
    <body>
        <h2>Course List</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${courses}">
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.courseCode}"></td>
                    <td th:text="${c.courseName}"></td>
                    <td><a th:href="@{/courses/id(id=${c.id})}">Details</a></td>
                </tr>
            </tbody>
        </table>
        <p><a th:href="@{/students}">Back to Students</a></p>
    </body>
</html>